<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GeogigModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <GeogigModule.Properties.Settings>
      <setting name="UserNameSetting" serializeAs="String">
        <value>Pete</value>
      </setting>
      <setting name="UserEmailSetting" serializeAs="String">
        <value>pete@example.com</value>
      </setting>
      <setting name="RepositoriesSetting" serializeAs="String">
        <value>[{"url": "http://localhost:8182", "title": "local"}]</value>
      </setting>
      <setting name="TrackedLayersSetting" serializeAs="String">
        <value>[{"repoUrl": "http://localhost:8182/repos/repo/", "source": "c:\\mapdata\\geogig\\qgis_repo_data\\local\\repo\\citytown.gpkg|layername=citytown", "layername": "citytown", "geopkg": "c:\\mapdata\\geogig\\qgis_repo_data\\local\\repo\\citytown.gpkg"}]</value>
      </setting>
      <setting name="BaseDataFolderSetting" serializeAs="String">
        <value>C:\Mapdata\geogig\qgis_repo_data</value>
      </setting>
    </GeogigModule.Properties.Settings>
  </userSettings>
</configuration>